<%- include('head', { tituloPagina: 'Página no encontrada' }) %>

<div class="container mt-4">
    <h1>404: Página no encontrada</h1>
    <p>La página que buscas no existe. <a href="/motocicletas">Volver al inicio</a></p>
</div>

<%- include('foot') %>
