<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir y mostrar imágenes</title>
</head>
<body>
    <h1>Subir y mostrar imágenes</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >

        <input type="file" name="image">
        <button type="submit">Subir imagen</button>
    </form>
    <h2>Imágenes subidas:</h2>
    <img src="/uploads/example.jpg" alt="Ejemplo de imagen">
</body>
</html>
