
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    color: #333333;
}

header {
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

h2 {
    color: #4caf50;
}

h3{
    color: darkblue
}

h4 {
    text-align: left;
}

p {
    margin-bottom: 30px;
}

ol {
    list-style-type: decimal;
    margin-left: 40px;
}

ul {
    margin-left: 40px;
}

figure {
    size: 20px;
}

#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.producto {
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
}

.imagen-producto {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.figure-img.img-fluid.rounded {
    width: 120px; 
    height: auto; 
    margin-top: -7px; 
    margin-bottom: -7px; 
}
